<div class="form" *ngIf="loggedIn">
    <div class="login">
        <h1>Login</h1>
        <form method="post" [formGroup]="loginForm" (ngSubmit)="loggingIn();" >
            <input type="text" name="u" placeholder="Username" required="required" formControlName="username" />
            <input type="password" name="p" placeholder="Password" required="required" formControlName="password" />
            <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
        </form>
    </div>
</div>