/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: rgb(198, 63, 251);
    background: radial-gradient(circle, rgba(198, 63, 251, 1) 33%, rgba(255, 29, 75, 1) 100%);
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}